* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: gray;
  height: 6vh;
}

.nav {
  height: 6vh;
  display: flex;
  width: 100%;
  background-color: gray;
  max-width: 2000px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 6vw;
  align-items: center;
  position: relative;
}

.cv {
  display: flex;
  flex-direction: column;
}

.cv-nav-container {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: gray;
  height: 6vh;
}

.cv-container{
  margin-top: 6vh;
}

a {
  text-decoration: none;
  /* color: white; */
}

.nav a {
  margin-right: 3vw;
  font-size: clamp(12px, 2vw, 30px);
  text-decoration: none;
  color: white;
}

.nav :hover {
  color: coral;
}

.nav :active {
  color: #c04000;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c1d25;
  height: 100vh;
  color: white;
}

.hero h2{
  padding-bottom: 1rem;
}

.hero-area {
  display: flex;
  height: 100%;
  align-items: center;
  width: 80%;
  max-width: 2000px;
}

.about {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  width: 80%;
  max-width: 2000px;
}

.information-title {
  margin-bottom: 2rem;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  max-width: 2000px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: clamp(35px, 5vw, 70px);
  margin: 0;
}

h2 {
  font-size: clamp(20px, 3vw, 40px);
}

h4 {
  font-size: clamp(14px, 1vw, 30px);
}

p {
  margin: 0;
  font-size: clamp(12px, 1.75vw, 25px);
  font-weight: 300;
}

.subtext {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(100px, 15vw, 300px);
  max-width: 200px;
  min-height: 30px;
  height: clamp(30px, 3vw, 75px);
  border-radius: 20px;
  background-color: coral;
  font-size: 10px;
  font-weight: 300;
  margin-top: 1.5vh;
  color: #a9a9a9;
}

.button a {
  margin: 0;
  font-size: clamp(12px, 1.75vw, 25px);
  color: white;
}

.button:hover {
  background-color: #c04000;
}

.projects-container {
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.projects-container p {
  margin: 0;
  font-size: clamp(10px, 1.3vw, 20px);
}

.projects-container h3 {
  margin: 0;
  font-size: clamp(11px, 1.5vw, 20px);
  font-weight: 600;
}

.projects-container a {
  color: coral;
}

.projects-container a :hover {
  color: #c04000;
}

.projects-title-container {
  width: 80%;
  max-width: 2000px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.project-card {
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin-right: 3vw;
  align-items: center;
  /* width: auto; */
  /* object-fit: fill; */
}

.project-card img {
  height: 25vh;
  width: 23vh;
  /* height: clamp(30px, 25vh, 400px); */
  /* width: clamp(30px, 23vh, 350); */
}

.hosted-project-container {
  width: 80%;
  max-width: 2000px;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.hosted-project-container a {
  padding: 0;
}

.hosted-project-text {
  padding: 1rem;
  text-align: left;
}

.hosted-project-links .subtext {
  padding-top: 1rem;
  padding-bottom: 0;
}

.code-projects-container {
  width: 80%;
  max-width: 2000px;
  display: grid;
  margin-bottom: 10rem;
}

.code-project-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  margin-bottom: 1rem;
}

.code-project-name {
  /* display: flex;
  width: 15%; */
  min-width: 70px;
}

.code-project-text {
  text-align: left;
  /* width: 85%; */
}

#contact-me {
  width: 100%;
}

.cv-nav {
  display: flex;
  justify-content: start;
  display: flex;
  list-style-type: none;
  width: auto;
}

.cv-nav-container a {
  font-size: clamp(12px, 2vw, 30px);
  color: white;
}

.cv-nav-container :hover {
  color: coral;
}

.cv-nav-container :active {
  color: #c04000;
}

footer {
  background-color: black;
  color: white;
  text-align: center;

  padding-top: 8rem;
  padding-bottom: 20rem;
}

@media screen and (max-width: 550px) {
  .projects-container {
    padding-top: 2rem;
  }

  .hosted-project-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .hosted-project-text {
    padding-left: 0rem;
    padding-top: 2rem;
  }
  .code-projects-container {
    margin-bottom: 3rem;
  }
}
